<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/14_MoreonPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 🎯 파이썬 내장 함수 input 사용하기 
 - input 의 인자는 안내 문구등의 문자열
 - 인자 끝에 colon 을 붙인다 (e.g., input(enter a value:))
 - print 함수의 인자에 ''를 사용하여 문자열을 쓰고, 입력값을 승계 받는 부분은 위의 변수를 입력하되 <>, '', ++ 를 사용한다 ➡️ e.g., <font color = 'red'> <'+variable name+'>

## 🎯 그 외 
 - 자료 클래스 확인하기
 - 최대값, 최소값 (max, min)
 - 문자열에서 특정 위치/구간의 문자 얻기
 - 문자열에서 홀수/짝수 위치 문자 따로 얻기 
 - 문자열을 거꾸로 만들기
 # to do #79 부터 (as of 3/30/23)

In [ ]:
k = input('값을 입력하세요:')
print('당신이 입력한 값은 <'+k+'>입니다.')

값을 입력하세요:100
당신이 입력한 값은 <100>입니다.

In [ ]:
#print(type(variable name)) ➡️ 프린트 함수의 인자로 type 함수를 사용하여 자료가 어떤 클래스인지 확인할 수 있다

num = 123
str = 'python'
list = [1, 2, 't']
dict = {'a':1,'b':2}

def func():
  print('Hello')

print(type(num))
print(type(list))
print(type(dict))
print(type(func))

<class 'int'>
<class 'list'>
<class 'dict'>
<class 'function'>

In [ ]:
list1 = [2, 200, 3.45, 215, -7.56, 111, 10, 28]
maxval1 = max(list1)
minval1 = min(list1)
print(maxval1)
print(minval1)

txt1='alotofthingsoccureachday'
maxval2 = max(txt1)
minval2 = min(txt1)
print(maxval2)
print(minval2)

215
-7.56
y
a

In [19]:
#문자열에서 특정 위치의 문자 얻기; 문자열에서 지정 구간 문자 얻기 Part1

txt1='This rat named Arthur'

print(txt1[1])
print(txt1[7])
print(txt1[-3])

print(txt1[1:]). #(나의 해석)두번째 요소부터 끝까지
print(txt1[3:7]) #(나의 해석)네번째 요소부터 일곱번째 요소까지  
print(txt1[:-5]) #처음부터 끝 5번째 요소들까지 제외한 것 

print(txt1[::2])
print(txt1[1::2])
print(txt1[1:2])

h
t
h
his rat named Arthur
s ra
This rat named A
Ti a ae rhr
hsrtnmdAtu
h

In [22]:
#문자열에서 지정 구간 문자 얻기 Part2
txt2='Elizabeth'

for i in range(len(txt2)):
#for i in range(txt2): 를 사용하면 아래 [:i+1] 파트에 오류가 남
  print (txt2[:i+1])

E
El
Eli
Eliz
Eliza
Elizab
Elizabe
Elizabet
Elizabeth

In [49]:
txt3='산뫼토뫼끼뫼' 
print(txt3[::2])
print(txt3[1::2])

txt4='산토끼'

def reverse(x, y, z):
  return z, y, x           #return 값은 할당기호 (=) 없이 reverse 함수 인자를 바로 입력한다. 아니면 error message 뜬다.

r1,r2,r3 = reverse('산','토','끼')
print (r1,r2,r3)

ret = txt4[::-1]
print(ret)

산토끼
뫼뫼뫼
끼 토 산
끼토산

In [ ]:
# to do #79 부터 (as of 3/30/23)