<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/15_AboutSrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 🎯 문자열에 관한 여러가지 함수
  1. 문자열에서 특정 위치/구간의 문자 얻기
  2. 문자열에서 홀수/짝수 위치 문자 따로 얻기 
  3. 문자열을 거꾸로 만들기
  4. 문자열 합치기
  5. 문자열 반복하기 
  6. 문자열 확인하기
  7. 문자열 길이 확인하기
    - unicode
      - codeline: len(variable name)
    - bite
      - codeline: len.encode(variable name)
  8. 문자열이 알파벳인지 검사 (.isalpha())
    - codeline: variable 1 = varialbe0.isalpha() function 사용하기
  9. 문자열이 "숫자만으로" 구성되어 있는지 확인하기 (.isdigit())
  10.문자열이 "알파벳 or 숫자만"인지 확인하기 (.isalnum())
  11.문자열에서 upper case <-> lower case 변환하기
  12.문자열에서 좌우 공백 제거하기 (.lstrip(); (.rstrip()); .strip())
  13. 문자열에서 특정 문자(열) 개수 구하기 (.count() function)
  14. 문자열에서 특정 문자(열) 위치 찾기 (.find() function)

In [ ]:
#문자열에서 특정 위치의 문자 얻기; 문자열에서 지정 구간 문자 얻기 Part1

txt1='This rat named Arthur'

print(txt1[1])
print(txt1[7])
print(txt1[-3])

print(txt1[1:]) #(나의 해석)두번째 요소부터 끝까지
print(txt1[3:7]) #(나의 해석)네번째 요소부터 일곱번째 요소까지  
print(txt1[:-5]) #처음부터 끝 5번째 요소들까지 제외한 것 

print(txt1[::2])
print(txt1[1::2])
print(txt1[1:2])

h
t
h
his rat named Arthur
s ra
This rat named A
Ti a ae rhr
hsrtnmdAtu
h

In [ ]:
#문자열에서 지정 구간 문자 얻기 Part2
txt2='Elizabeth'

for i in range(len(txt2)):
#for i in range(txt2): 를 사용하면 아래 [:i+1] 파트에 오류가 남
  print (txt2[:i+1])

E
El
Eli
Eliz
Eliza
Elizab
Elizabe
Elizabet
Elizabeth

In [ ]:
txt3='산뫼토뫼끼뫼' 
print(txt3[::2])
print(txt3[1::2])

txt4='산토끼'

def reverse(x, y, z):
  return z, y, x           #return 값은 할당기호 (=) 없이 reverse 함수 인자를 바로 입력한다. 아니면 error message 뜬다.

r1,r2,r3 = reverse('산','토','끼')
print (r1,r2,r3)

ret = txt4[::-1]
print(ret)

산토끼
뫼뫼뫼
끼 토 산
끼토산

In [ ]:
# My exercise 
txt = '토끼야어디가?'
res1=txt[::2]
print (res1)

res2=txt[1::2]
print(res2)

def reverse(x,y):
  return x, y

res3=reverse(res1, res2)
print(res3)

res4 = txt[::-1]
print(res4)

for i in range(len(txt)):
  print(txt[:i+1])

토야디?
끼어가
('토야디?', '끼어가')
?가디어야끼토
토
토끼
토끼야
토끼야어
토끼야어디
토끼야어디가
토끼야어디가?

In [ ]:
name = input('입력할 파일 이름은 무엇입니까?:')
result = name + '.txt'
print ('입력한 파일 이름과 그 포맷은 <'+result+'> 입니다.')

입력할 파일 이름은 무엇입니까?:test
입력한 파일 이름과 그 포맷은 <test.txt> 입니다.

In [ ]:
#문자열 합치기

title = input('파일명을 입력하세요.:')
titled = title + '.jpg'
print ('저장된 파일은 <'+titled+'> 입니다.')

파일명을 입력하세요.:casper
저장된 파일은 <casper.jpg> 입니다.

In [ ]:
#문자열 합치기 & 문자열 반복하기
word1 = '우리나라 축구 대표팀'
word2 = '화이팅'
phrase1 = word1 + ' ' +  word2*10 + '~'*3 #Space 확보를 위해서는 quotes 안에 Space 를 확보해 놓으면 됨
phrase2 = word1 + ', ' +  word2*10 + '~'*3
print(phrase1)
print(phrase2)

우리나라 축구 대표팀 화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅~~~
우리나라 축구 대표팀, 화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅화이팅~~~

In [ ]:
# 문자 or 문자열 확인하기

txt1 = input('임의의 문장을 입력하세요:')

if 'c' in txt1:
  print('Yes')
else:
  print('No')

if 'are' in txt1:
  print ('Yes')
else:
  print('No')

임의의 문장을 입력하세요:Can I get your name and phone number?
No
No

In [ ]:
#문자열 길이 확인하기

txt2 = input('Type in your sentence.')

mslength = len(txt2)

print('당신이 입력한 문자의 길이는 <%d> 입니다.' %mslength)

Type in your sentence.What is your name?
당신이 입력한 문자의 길이는 <18> 입니다.

In [ ]:
#문자열이 "알파벳만"으로 구성되었는지 검사 isalpha(variable name)

txt1 = 'hi'
txt2 = '안녕'
txt3 = 'Hi Emma!'
txt4 = 'where2go'

ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

type(ret1)

True
True
False
False

bool

In [ ]:
#문자열이 "숫자만으로" 구성되어 있는지 확인하기

txt5='042-629-7342'
txt6='NIH00043'
txt7='114'

ret5 = txt5.isdigit()
ret6 = txt6.isdigit()
ret7 = txt7.isdigit()

print(ret5)
print(ret6)
print(ret7)

type(ret5)

False
False
True

bool

In [ ]:
#문자열이 "알파벳 or 숫자만"인지 확인하기 

txt8='NIH00043'
txt9='NIH-00043'

ret8 = txt8.isalnum()
ret9 = txt9.isalnum()

print(ret8)
print(ret9)

type(ret9)

True
False

bool

In [ ]:
#문자열에서 upper case <-> lower case 변환하기

txt1='somewhere over the rainbow'

ret1 = txt1.upper()

ret2 = ret1.lower()

print(txt1)
print(ret1)
print(ret2)

somewhere over the rainbow
SOMEWHERE OVER THE RAINBOW
somewhere over the rainbow

In [ ]:
#문자열에서 왼쪽 오른쪽 공백 제거하기

txt = ' The string sequence include space on the left and the right. '

ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<'+txt+'>')
print(txt)
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

< The string sequence include space on the left and the right. >
 The string sequence include space on the left and the right.
<The string sequence include space on the left and the right. >
< The string sequence include space on the left and the right.>
<The string sequence include space on the left and the right.>

In [ ]:
#문자열에 있는 문자(열) 개수 구하기 .count() 함수

txt = 'The string sequence include space on the left and the right.'

ret1 = txt.count('the')
ret2 = txt.count('s')

print(ret1)
print(ret2)

2
3

In [14]:
#문자열에서 특정 문자(열) 위치 찾기 (.find() function): 구하는 character or word 의 최초 인덱스(위치)를 알려줌.

txt = input('Type in a phrase you like:')

where1 = txt.find('s')
where2 = txt.find('e', 4)
where3 = txt.find('rainbow')
where4 = txt.find('z')

print(where1)
print(where2)
print(where3)
print(where4) # -1 값이 리턴 되면 해당 문자(열)을 찾을 수 없을 때이다.

Type in a phrase you like:somewhere over the rainbow
0
6
19
-1