<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/16_AboutLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Lists

  - 순차적인 정수 리스트 만들기 
  - 리스트에서 특정 위치의 요소 얻기
  - 리스트에서 특정 요소의 위치 구하기 ListNameVariable.index(variable assigned with an element of your interest) method
  - 리스트에서 특정 위치의 요소를 변경하기 ListNameVariable.index() method
  - 리스트에서 특정 구간에 있는 요소 추출하기 
  - 리스트에서 짝수 구간 요소만 추출하기 variable[1::2]
  - 리스트에서 요소 역순으로 만들기 Part1 ListNameVariable.reverse() method
  - 리스트에서 요소 역순으로 만들기 Part2 ListNameVariable.reverse() method & ListNameVaribable[::-1] (i.e., 리스트의 처음부터 끝까지 숫자를 끝에서 첫번째 부터 한 개씩 순차적으로 역리스트화 하기
  (p. 181, #106) as of April 10th, 2023

In [ ]:
#range() & list() function

ret1 = range(10)
ret2 = range(10,20)

print(list(ret1))
print(list(ret2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
55

In [ ]:
ret = 0
for i in range(10):
  ret +=(i+1) #i.e., ret=ret+(i+1)
  print(ret)
print(ret)

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
#@markdown 리스트에서 특정 요소의 위치 구하기 index() function

solarsystem = ['Sun', 'Mercury', 'Venus', 'earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet = input('Enter the name of the planet:')
position = solarsystem.index(planet)
if position > 3:
  print('The %s is the %dth planet from the Sun.' %(planet, position))
else:
  print('The %s is %dst/nd/rd planet from the Sun.' %(planet, position))

Enter the name of the planet:Venus
The Venus is 2st/nd/rd planet from the Sun.

In [ ]:
#More exercise

solarsystem = ['태양', '수', '금', '지', '화', '목', '토', '천', '해']
planet = input('행성 첫 자를 입력하세요:')
position = solarsystem.index(planet)
print ('%s는 %d 행성입니다.' %(planet, position))

행성 첫 자를 입력하세요:금
금는 2 행성입니다.

In [ ]:
#리스트에서 특정 위치의 요소를 변경하기

solarsystem = ['태', '수', '금', '지', '화', '목', '토', '천', '해']
planet = input('한글 행성 이름 첫자를 입력하세요:')
position = solarsystem.index(planet)
solarsystem[position] = input('행성의 영문명을 입력하세요:')
print(solarsystem)

한글 행성 이름 첫자를 입력하세요:지
행성의 영문명을 입력하세요:the earth
['태', '수', '금', 'the earth', '화', '목', '토', '천', '해']

In [ ]:
#More exercise

solarsystem = ['태', '수', '금', '지', '화', '목', '토', '천', '해']
planet = '태'
pos = solarsystem.index(planet)
solarsystem[pos] = 'the Sun'
print(solarsystem)

['the Sun', '수', '금', '지', '화', '목', '토', '천', '해']

In [ ]:
# More exercise

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
planet = '태양'
pos = solarsys.index(planet)
solarsys[pos] = 'the Sun'
print(solarsys)

['the Sun', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
#리스트에서 특정 구간에 있는 요소 추출하기

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
two_characters = solarsys[0:7]
three_characters = solarsys[-2:]
mixed = solarsys [-5:]

print(two_characters)
print(three_characters)
print(mixed)

rockbased = solarsys[1:4]
gasbased = solarsys[4:]

print('태양계의 암석형 행성은:',end=''); print(rockbased)
print('태양계의 가스형 행성은:',end=''); print(gasbased)

print('태양계의 암석형 행성은:'); print(rockbased)

['태양', '수성', '금성', '지구', '화성', '목성', '토성']
['천왕성', '해왕성']
['화성', '목성', '토성', '천왕성', '해왕성']
태양계의 암석형 행성은:['수성', '금성', '지구']
태양계의 가스형 행성은:['화성', '목성', '토성', '천왕성', '해왕성']
태양계의 암석형 행성은:
['수성', '금성', '지구']

In [ ]:
#리스트에서 짝수 구간 요소만 추출하기

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
odd = solarsys[::2]
even = solarsys[1::2]
print(odd)
print(even)

['태양', '금성', '화성', '토성', '해왕성']
['수성', '지구', '목성', '천왕성']

In [ ]:
#More exercise

numbers = list(range(15)) #우측 요소에 (list 입력없이) range(15)라고만 쓰면 0과 15만 출력됨 [주의]
even = numbers[::2]
odd = numbers[1::2]

print(numbers)
print(even)
print(odd)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 2, 4, 6, 8, 10, 12, 14]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
#More exercise

numbers = list(range(1,21))
odd = numbers[::2]
even = numbers[1::2]

print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [62]:
#리스트에서 요소 역순으로 만들기 Part1 

forwardn = list(range(21))
forwardn.reverse() # codelined을 ret = forwardn.reverse()라고 입력하면 결과는 None 로 출력됨. 따라서 ret = 를 삭제해야 함.
print(forwardn)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [64]:
#리스트에서 요소 역순으로 만들기 Part2 => PB again

forwardn = list(range(21))
backwardn = reversed(forwardn)
print(backwardn)

<list_reverseiterator object at 0x7f5fffea7a00>