<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/16_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Lists

  - 순차적인 정수 리스트 만들기 
  - 리스트에서 특정 위치의 요소 얻기
  - 리스트에서 특정 요소의 위치 구하기 ListNameVariable.index(variable assigned with an element of your interest) method
  - 리스트에서 특정 위치의 요소를 변경하기 ListNameVariable.index() method
  - 리스트에서 특정 구간에 있는 요소 추출하기 
  - 리스트에서 짝수 구간 요소만 추출하기 variable[1::2]
  - 리스트에서 요소 역순으로 만들기 Part1 ListNameVariable.reverse() method
  - 리스트에서 요소 역순으로 만들기 Part2 ListNameVariable.reverse() method & ListNameVaribable[::-1] (i.e., 리스트의 처음부터 끝까지 숫자를 끝에서 첫번째 부터 한 개씩 순차적으로 역리스트화 하기
  - 리스트 합치기 (+)
  - 리스트 반복하기 (*)
  - 리스트 요소 추가하기 (append() method)
  - 리스트의 특정 위치에 요소 삽입하기 (insert () method)
  - 리스트의 특정 위치에 요소 제거하기 (del variable[])
  - 리스트의 특정 위치에 요소 제거하기 (remove () method)
  - 리스트에 있는 요소 개수 구하기 (len () function)
  - 리스트에서 특정 요소 개수 구하기 (count() function)
  - 리스트 요소 정렬하기 (sort () method) The original list is manipulated as a result. 
  - 리스트 요소 정렬하기 (sorted () function) The original list is intact and a sorted result is returned.
  - 리스트 요소 무작위로 섞기 (from random import shuffle)
  - 리스트의 모든 요소를 인덱스와 쌍으로 추출하기 (enumerate()function)
  - 리스트의 모든 요소의 합 구하기 (sum()functio
  - 리스트 요소가 모두 참인지 확인하기 (all()function; any()function)(p. 198, #122) as of April 15th, 2023

In [ ]:
#range() & list() function

ret1 = range(10)
ret2 = range(10,20)

print(list(ret1))
print(list(ret2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
55

In [ ]:
ret = 0
for i in range(10):
  ret +=(i+1) #i.e., ret=ret+(i+1)
  print(ret)
print(ret)

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
#@markdown 리스트에서 특정 요소의 위치 구하기 index() function

solarsystem = ['Sun', 'Mercury', 'Venus', 'earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet = input('Enter the name of the planet:')
position = solarsystem.index(planet)
if position > 3:
  print('The %s is the %dth planet from the Sun.' %(planet, position))
else:
  print('The %s is %dst/nd/rd planet from the Sun.' %(planet, position))

Enter the name of the planet:Venus
The Venus is 2st/nd/rd planet from the Sun.

In [ ]:
#More exercise

solarsystem = ['태양', '수', '금', '지', '화', '목', '토', '천', '해']
planet = input('행성 첫 자를 입력하세요:')
position = solarsystem.index(planet)
print ('%s는 %d 행성입니다.' %(planet, position))

행성 첫 자를 입력하세요:금
금는 2 행성입니다.

In [ ]:
#리스트에서 특정 위치의 요소를 변경하기

solarsystem = ['태', '수', '금', '지', '화', '목', '토', '천', '해']
planet = input('한글 행성 이름 첫자를 입력하세요:')
position = solarsystem.index(planet)
solarsystem[position] = input('행성의 영문명을 입력하세요:')
print(solarsystem)

한글 행성 이름 첫자를 입력하세요:지
행성의 영문명을 입력하세요:the earth
['태', '수', '금', 'the earth', '화', '목', '토', '천', '해']

In [ ]:
#More exercise

solarsystem = ['태', '수', '금', '지', '화', '목', '토', '천', '해']
planet = '태'
pos = solarsystem.index(planet)
solarsystem[pos] = 'the Sun'
print(solarsystem)

['the Sun', '수', '금', '지', '화', '목', '토', '천', '해']

In [ ]:
# More exercise

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
planet = '태양'
pos = solarsys.index(planet)
solarsys[pos] = 'the Sun'
print(solarsys)

['the Sun', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
#리스트에서 특정 구간에 있는 요소 추출하기

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
two_characters = solarsys[0:7]
three_characters = solarsys[-2:]
mixed = solarsys [-5:]

print(two_characters)
print(three_characters)
print(mixed)

rockbased = solarsys[1:4]
gasbased = solarsys[4:]

print('태양계의 암석형 행성은:',end=''); print(rockbased)
print('태양계의 가스형 행성은:',end=''); print(gasbased)

print('태양계의 암석형 행성은:'); print(rockbased)

['태양', '수성', '금성', '지구', '화성', '목성', '토성']
['천왕성', '해왕성']
['화성', '목성', '토성', '천왕성', '해왕성']
태양계의 암석형 행성은:['수성', '금성', '지구']
태양계의 가스형 행성은:['화성', '목성', '토성', '천왕성', '해왕성']
태양계의 암석형 행성은:
['수성', '금성', '지구']

In [ ]:
#리스트에서 짝수 구간 요소만 추출하기

solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
odd = solarsys[::2]
even = solarsys[1::2]
print(odd)
print(even)

['태양', '금성', '화성', '토성', '해왕성']
['수성', '지구', '목성', '천왕성']

In [ ]:
#More exercise

numbers = list(range(15)) #우측 요소에 (list 입력없이) range(15)라고만 쓰면 0과 15만 출력됨 [주의]
even = numbers[::2]
odd = numbers[1::2]

print(numbers)
print(even)
print(odd)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 2, 4, 6, 8, 10, 12, 14]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
#More exercise

numbers = list(range(1,21))
odd = numbers[::2]
even = numbers[1::2]

print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#리스트에서 요소 역순으로 만들기 Part1 

forwardn = list(range(21))
forwardn.reverse() # codelined을 ret = forwardn.reverse()라고 입력하면 결과는 None 로 출력됨. 따라서 ret = 를 삭제해야 함. ???왜 reverse() method 에서는 return 변수를 쓸 수 없나요? 
print(forwardn)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#리스트에서 요소 역순으로 만들기 Part2 => 

forwardn = list(range(3))
backwardn = reversed(forwardn)
backward_slicing = forwardn[::-1]

print('원본 리스트', end=''); print(forwardn)
print('역순 리스트', end=''); print(list(backwardn)) #역순 함수 (reversed() function)은 print 코드라인에서 인자로 list 화 해야지 결과값이 나온다. 
print('슬라이싱을 이용한 역순 리스트', end=''); print(backward_slicing)

원본 리스트[0, 1, 2]
역순 리스트[2, 1, 0]
슬라이싱을 이용한 역순 리스트[2, 1, 0]

In [ ]:
#리스트 합치기 (+)
list1 = ['1', '2', '3']
list2 = ['a','b','c']
list3 = list1 + list2

print(list3)

['1', '2', '3', 'a', 'b', 'c']

In [ ]:
#리스트 반복하기 (*)
ret1 = list(range(3))
ret2 = ret1*3
print(ret2)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
#리스트에 요소 추가하기 (append() method)

list = []
for i in range(3):
  txt = input('리스트에 추가할 값을 입력하세요(%d/3):' %(i+1))
  list.append(txt)
print(list)

리스트에 추가할 값을 입력하세요(1/3):12
리스트에 추가할 값을 입력하세요(2/3):14
리스트에 추가할 값을 입력하세요(3/3):18
['12', '14', '18']

In [ ]:
#리스트의 특정 위치에 요소 삽입하기 (insert() method) 이 때 인자는 2 개 필요하다. 끼워 드는 위치에 대한 인자와 삽입하는 인자에 해당하는 str 정보
solarsys = ['태양','수성','금성','지구','화성','목성','토성','천왕성','해왕성']
pos = solarsys.index('지구')  #Not confident about using index() method
solarsys.insert(pos, '달') #Not confident about not using a variable
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

### ☁️ Ⓜ️ variable 을 사용해야 제대로 결과값이 나오는 경우
  - pos = solarsys.index('지구')

### ☁️ Ⓜ️ index 번호를 쓸 때에는 variable 을 안쓰네...
  -solarsys[3]

### ☁️ Ⓜ️ 나는 위 예시에 대한 정확한 이해가 없음.

이제껏 정리한 내용을 통털어 다시 본 다음에 위 사항에 대한 나름의 이해가 필요함

In [ ]:
#리스트의 특정 위치 요소/객체 제거하기 del keyword (del keyword 다음에 object 입력)

solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
del solarsys[-1]
print(solarsys)

del solarsys[:5] 
print(solarsys)

del solarsys[:-2]
print(solarsys)

solarsys = ['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
del solarsys
print(solarsys) #메모리에서 solarsys 객체가 제거되었기 때문에 에러 메세지 뜬다 (e.g., NameError: name 'solarsys' is not defined)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성']
['소행성', '목성', '토성', '천왕성']
['토성', '천왕성']

NameError: ignored

In [ ]:
#리스트의 특정 위치 요소 제거하기 (remove() method)

solarsys = ['태양', '수성', '금성', '달', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('달')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
#리스트에 있는 요소 개수 구하기 (len() function (Python 내장 함수))

solarsys = ['태양', '수성', '금성', '달', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
ret = len(solarsys) 
print(ret)

11

In [ ]:
#리스트에서 특정 요소 개수 구하기 (count() function)

solarsys = ['태양', '수성', '금성', '달', '지구', '달', '화성', '소행성', '목성', '토성', '천왕성', '해왕성', '태양', '수성', '금성', '달', '지구', '달', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

cnt = solarsys.count('달')
print(cnt)

#cf., index() method 는 position 을 구하는 것이다. 
inx = solarsys.index('달')
print(inx)

4
3

In [ ]:
#리스트 요소 정렬하기 (sort () method) The original list is manipulated as a result. 

solarsys = ['태양', '수성', '금성', '달', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
solarsys.sort() #ascending order
print(solarsys)

solarsys.sort(reverse=True)
print(solarsys) #descending order

['금성', '달', '목성', '소행성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']
['화성', '해왕성', '토성', '태양', '천왕성', '지구', '수성', '소행성', '목성', '달', '금성']

In [ ]:
#리스트 요소 정렬하기 (sorted () function) The original list is intact and a sorted result is returned. 

solarsys = ['태양', '수성', '금성', '달', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
ret1 = sorted(solarsys)
ret2 = sorted(solarsys, reverse=True)
print(solarsys)
print(ret1)
print(ret2)

['태양', '수성', '금성', '달', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']
['금성', '달', '목성', '소행성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']
['화성', '해왕성', '토성', '태양', '천왕성', '지구', '수성', '소행성', '목성', '달', '금성']

In [8]:
#리스트 요소 무작위로 섞기

from random import shuffle

listdata = list(range(1,11))
for i in range(3): # 즉, 0, 1, 2 세 번 반복하라는 뜻
  shuffle(listdata)
  print(listdata)


#리스트 요소 무작위로 섞기를 내가 임의로 변형 시켜보니까 결과가 파이썬200제와 다름. 나는 이 함수가 객체를 리턴하는 것에 대해 더 정확히 이해할 필요가 있음.
listdata = list(range(1,11))
for i in range(3): # 즉, 0, 1, 2 세 번 반복하라는 뜻
  ret = shuffle(listdata)
  print(ret)

else:
  print(listdata)

[10, 8, 4, 1, 5, 2, 9, 6, 3, 7]
[10, 5, 4, 1, 6, 7, 9, 8, 3, 2]
[7, 4, 8, 5, 2, 1, 10, 3, 9, 6]
None
None
None
[8, 6, 10, 3, 1, 7, 4, 2, 5, 9]

In [10]:
#리스트의 모든 요소를 인덱스와 쌍으로 추출하기 (enumerate()function)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys)) 
print(ret)

for i, body in enumerate(solarsys): #in 다음에 반복 가능한 자료
  print('태양계의 %d번째 천체:%s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체:태양
태양계의 1번째 천체:수성
태양계의 2번째 천체:금성
태양계의 3번째 천체:지구
태양계의 4번째 천체:화성
태양계의 5번째 천체:목성
태양계의 6번째 천체:토성
태양계의 7번째 천체:천왕성
태양계의 8번째 천체:해왕성

In [11]:
#리스트의 모든 요소의 합 구하기 (sum()function)

listdata = list(range(1,21))
ret = sum(listdata)
print(ret)

210

In [ ]:
#리스트 요소가 모두 참인지 확인하기 (all()function; any()function)