<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/17_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📌📌 About Dictionary

  - 사전에 요소 추가
   - 절차 
      
          i) 리스트A에 있는 각 인덱스에 연결되어 있는 요소를 enumerate()function 사용하여 먼저 준비
          ii) 리스트B에 있는 각 인덱스에 연결되어 있는 요소를 value로 할당
          iii) 리스트A의 요소인 k를 새사전C에서 key로 사용하고 여기에 대응하는 value 값은 리스트B의 인덱스에 대응하는 요소인 val 변수로 사용한다. 

  - 사전에 특정 요소값 변경하기
  - 사전의 특정 요소값 제거하기 (del dict['key']
  - 사전의 모든 요소 (key:value) 제거하기 (variable.clear() module)
  - 사전에서 keys 만 추출하기 (vaiable.keys()module)
  - 사전에서 값만 추출하기 (variable.values()module)
  - 사전에 모든 요소를 개별적으로 추출하기 (variable.items()module & for ~ in ~ )
  - 사전에 특정 키가 존재하는지 아니면 없는지 확인하기 (if k in dictionary: else:)
  - 사전 정렬하기 (sorted)

In [ ]:
#기존의 리스트 2 개를 연결하여 새사전을 만들기 (파이썬 200제에는 사전에 요소 추가로 제목이 되어 있음) 
solarkor = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solareng = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Naptune']

solardict = {}

for i, k in enumerate(solarkor):
  val = solareng[i]
  solardict[k] = val

print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}

In [ ]:
#exercise
listnumber = list(range(1,13))
listzodiac = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해'] 

dictnew = {}
for i, k in enumerate(listnumber):
  val = listzodiac[i]
  dictnew[k] = val

print(dictnew)

{1: '자', 2: '축', 3: '인', 4: '묘', 5: '진', 6: '사', 7: '오', 8: '미', 9: '신', 10: '유', 11: '술', 12: '해'}

In [ ]:
keys = list(range(1,13))
vals = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해'] 

dict = {}
for i, k in enumerate(keys):
  v = vals[i]
  dict[k] = v #ㄴ내가 스스로 이 코드라인을 생각해 내기 힘듦
print(dict)

{1: '자', 2: '축', 3: '인', 4: '묘', 5: '진', 6: '사', 7: '오', 8: '미', 9: '신', 10: '유', 11: '술', 12: '해'}

In [ ]:
#사전의 특정 요소값 반영하기

zodiac = {1: '자', 2: '축', 3: '인', 4: '묘', 5: '진', 6: '사', 7: '오', 8: '미', 9: '신', 10: '유', 11: '술', 12: '해'}
zodiac[1]= '쥐'
print(zodiac)

galaxy = {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}
galaxy['태양'] = 'the Sun' #galaxy는 사전이기 때문에 integers 를 사용한 인덱스를 사용하면 의도한 결과가 안나오고 original dict 결과만 나온다. 
print(galaxy)

{1: '쥐', 2: '축', 3: '인', 4: '묘', 5: '진', 6: '사', 7: '오', 8: '미', 9: '신', 10: '유', 11: '술', 12: '해'}
{'태양': 'the Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}

In [ ]:
#사전의 특정 요소값 제거하기 (del dict['key']

galaxy = {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}

del galaxy['목성']
print(galaxy)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}

In [ ]:
#사전의 모든 요소 (key:value) 제거하기 (variable.clear() module)

galaxy = {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Naptune'}
galaxy.clear() #empty dictionary 를 만듦
print(galaxy)

{}

In [4]:
# 사전에서 카만 추출하기 ( + 한 개 요소의 values 변경 및 한 개 요소 삭제) (variable.keys()module)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
ks = names.keys()
print(ks)

names['Pamela'] = 80000

del names['Emma']


for k in ks:
  print('Keys:%s \t Values: %d' %(k, names[k]))

dict_keys(['Sean', 'Jennifer', 'Mike', 'William', 'Pamela', 'Emma'])
Keys:Sean 	 Values: 100000
Keys:Jennifer 	 Values: 120000
Keys:Mike 	 Values: 90000
Keys:William 	 Values: 230000
Keys:Pamela 	 Values: 80000

In [7]:
# 사전에서 값만 추출하기 (variable.values()module)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
vs = names.values()
print(vs)

val_list = list(vs)
ret = sum(val_list)
print(ret)
print('신생아 수 총계:%d' %(ret))

dict_values([100000, 120000, 90000, 230000, 45000, 70000])
655000
신생아 수 총계:655000

In [17]:
#사전에 모든 요소를 개별적으로 추출하기 (variable.items()module & for ~ in ~ )
names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
it = names.items()
print(it)

for i in it:
  print(i) # for ~ it ~ 구문에 사용된 i 요소에 할당한 것을 출력하라 (*it 변수 아니고!)

dict_items([('Sean', 100000), ('Jennifer', 120000), ('Mike', 90000), ('William', 230000), ('Pamela', 45000), ('Emma', 70000)])
('Sean', 100000)
('Jennifer', 120000)
('Mike', 90000)
('William', 230000)
('Pamela', 45000)
('Emma', 70000)

In [35]:
#사전에 특정 키가 존재하는지 아니면 없는지 확인하기 (if k in dictionary: else:)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}

k = input('키값을 입력하세요:')  #  colon 은 '' 안에 넣는다 (*밖이 아니고!)

if k in names:
  print('이름이 %s 인 신생아 숫자는 %d 입니다' %(k, names[k]))
else:
  print('자료에 %s 라는 이름은 없습니다' %k)

키값을 입력하세요:Emma
이름이 Emma 인 신생아 숫자는 70000 입니다

In [41]:
#사전 정려하기 (sorted()function)

names = {'Sean':100000, 'Jennifer': 120000, 'Mike': 90000, 'William': 230000, 'Pamela': 45000, 'Emma': 70000}
ret = sorted(names)
print(ret)
print(ret, reverse = True)

['Emma', 'Jennifer', 'Mike', 'Pamela', 'Sean', 'William']

TypeError: ignored