<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/4_2_ForStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1️⃣ FOR statements enable you to extract each one of elements from 1st element to the last from an object객체 or a certain range of data특정 범위의 자료.

- ### <font color='red'> Example</font> from 파이썬 200제 & what I understnad from sample scripts

        for 구성요소 or/and 아래 코드라인 변수 in 범위:
            반복으로 실행할 코드

In [4]:
numbers = 1,2,3,4,5,6,7,8,9

for i in numbers: # 'i' represents for integers. 
  print(i)

1
2
3
4
5
6
7
8
9

In [5]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for x in scope: # An alphabet can be anything you like after 'for'. 
  print(x)

1
2
3
4
5

In [6]:
#@markdown Similar exercise for a For Statement.

scope = [1,2,3,4,5]

for y in scope: # An alphabet can be anything you like after 'for'. 
  print(y)

1
2
3
4
5

##👀 Before you run the following code lines of FOR Statement, you need to know the following. 

💊 Objects객체 used in FOR statements are i) string, ii) list or tuple, iii) dictionary, iv) range(), v) objects that can be repeated. 

    The results depend on the number in (range 범위). 
    e.g., range(0) ➡️  NONE, range(1) ➡️ 0, range(2) ➡️ 0,1, etc.

In [1]:
for i in range(1): 
  print (i)

0

In [7]:
fruits = ["apple", "banana", "grape", "strawberry", "pear", "mango"]

for i in fruits:
  print(i)

apple
banana
grape
strawberry
pear
mango

In [8]:
string='abcde'

for c in string:
  print(c)

a
b
c
d
e

In [9]:
list = [1,2,3,4,5]

for c in list:
  print(c)

1
2
3
4
5

In [10]:
dictionary={'a':97, 'b':98, 'c':99}

for c in dictionary:
  print(c)

a
b
c

In [11]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

# 2️⃣ FOR ~ CONTINUE ~ BREAK

    for 구성요소 혹은 아래 코드라인 변수 in 범위:
      ...
      continue    # 다음 반복문 수행
      ...
      break       # for 반복문 탈출

In [12]:
scope=[1,2,3,4,5]

for x in scope:
  print(x)        #화면에 해당 정수를 출력한 후 그 수가 3 보다 작으면 그 다음 숫자를 출력하고, 3 보다 크거나 같으면 종료
  if x<3:
    continue      # 이 경우 continue 없이도 코드라인 작성 가능
  else:
    break

1
2
3

2️⃣ FOR ~ ELSE

    for 변수 in 범위:
      반복 실행 코드
    else:       
      for 구문이 모두 실행되었을 때 실행할 코드

In [ ]:
scope=[1,2,3,4,5]

for x in scope:
  print(x)         
  break             #반복문이 break에 의해 중단됨 없이 정상적으로 모두 실행되어야만 특정 코드 실행할 경우 FOR ~ ELSE 사용
else:
    print('Perfect')