<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/8_DefiningFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#@markdown 📌 Functions

def add_number(n1,n2): 
  result1 = n1 + n2     #리턴값이 있는 함수 예시
  return result1

def add_txt(t1,t2):    #리턴값이 없는 함수 예시
  print (t1 + t2)

## 🍒 정의된 함수를 호출하기 
  - 1️⃣ 인자와 함수의 리턴값이 있는 경우 함수 호출 방법 (리턴값을 받을 변수를 지정해 주자) 
      -  변수 = 함수이름(값1,값2,...)
  
  - 2️⃣ 리턴값이 없는 경우 함수, 먼저 각 인자를 변수로 할당하고, 이후 함수이름에 대응 인자를 ( ) 안에 기입하는 것으로, 결과적으로는 함수이름만 호출한다.
      -   함수이름(값1, 값2,...)
  
  - 3️⃣ 인자와 리턴값이 없는 함수 호출
      -  함수이름( )

In [14]:
def add_number(n1,n2): 
  result1 = n1 + n2     
  return result1      #리턴값이 있는 함수 예시 

example = add_number(10, 20)
print(example)



def add_txt(t1,t2):    #리턴값이 없는 함수 예시1
  print (t1 + t2)

txt1 = 'We are proud of'
txt2 = ' South Korea.'
add_txt(txt1,txt2)



def add_txt1(t1,t2='Python'):
  print(t1 + ':' + t2)

add_txt1('Best')
add_txt1(t1='My friend', t2='Python')

30
We are proud of South Korea.
Best:Python
My friend:Python

In [3]:
def myfunction():
  print ('안녕하세요')

list = [1, 2, myfunction]
list[2]() #리스트에서 2 번째 요소가 myfunction 함수라서, myfunction 함수에 인자 자리 ( )를 넣는 것과 list[2]( )는 같은 code line으로 볼 수 있다.

안녕하세요

In [11]:
#@markdown 🌀 리스트의 요소 중 하나가 function 함수인 경우

def myfunc():
  print('hi')

list1=[1,2,3,myfunc]
myfunc()
list1[3]()

hi
hi

## ⚡ 가변 인자 (인자의 개수가 불명확할 때 사용): *args 이 부분은 파이썬200제 #40 (pp.89-91 참조하기)

# 아래 부터는 이해해 보려는 My exercise 🐶 🐹

In [13]:
#개인 함수 연습1

def add_d(n1,n2):
  result = n1 + n2
  return result     #여기 실수했고

sample = add_d(10,100)  #여기 실수했고
print(sample)

110

In [15]:
#개인 함수 연습2

def add_dd(n1, n2):
  print(n1 + n2)

n1=1000
n2=10000

add_dd(n1,n2) # print(add_dd(n1,n2))라고 잘못 썼음.

11000

In [19]:
def add_ddd(n1,n2,n3):
  results = n1 + n2 + n3
  return results

sample2 = add_ddd(1000, 10000, 100000) #변수 지정해서 함수의 인자 자리에 직접 수를 입력하는지 헷갈림 => 아 맞네. 
print (sample2)

111000

In [20]:
def add_dddd(n1,n2, n3, n4):
  print(n1 + n2 + n3 + n4)

n1 = 1000
n2 = 10000
n3 = 100000
n4 = 1000000

add_dddd(n1,n2,n3,n4)

1111000