<a href="https://colab.research.google.com/github/ms624atyale/Python_Basics/blob/main/8_DefiningFunctions_MyExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@markdown 📌 Functions

def add_number(n1,n2): 
  result1 = n1 + n2     #리턴값이 있는 함수 예시
  return result1

def add_txt(t1,t2):    #리턴값이 없는 함수 예시
  print (t1 + t2)

## 🍒 정의된 함수를 호출하기 
  - 1️⃣ 인자와 함수의 리턴값이 있는 경우 함수 호출 방법 (리턴값을 받을 변수를 지정해 주자) 
      -  변수 = 함수이름(값1,값2,...)
  
  - 2️⃣ 리턴값이 없는 경우 함수, 먼저 각 인자를 변수로 할당하고, 이후 함수이름에 대응 인자를 ( ) 안에 기입하는 것으로, 결과적으로는 함수이름만 호출한다.
      -   함수이름(값1, 값2,...)
  
  - 3️⃣ 인자와 리턴값이 없는 함수 호출
      -  함수이름( )

In [ ]:
def add_number(n1,n2): 
  result1 = n1 + n2     
  return result1      #리턴값이 있는 함수 예시. My understanding: 함수 안에 print() 가 없으니 함수를 호출할 때는 print() 써줘야 함. 그러려면 호출 때 함수를 할당하는 변수 지정 필요. 

example = add_number(10, 20)
print(example)



def add_txt(t1,t2):    #리턴값이 없는 함수 예시1 My understanding: 함수 안에 print() 가 있으니 함수를 호출할 때는 print() 제외. 
  print (t1 + t2)

txt1 = 'We are proud of'
txt2 = ' South Korea.'
add_txt(txt1,txt2)

30
We are proud of South Korea.

In [ ]:
# 위의 함수 정의 및 호출 이해 완료
def add_dd(n1, n2):  
  example = n1 + n2
  return example

results = add_dd(100, 200)
print(results)

300

In [ ]:
# 위의 함수 정의 및 호출 이해 완료
def add_tt(t1, t2):  # 위의 함수 정의 및 호출 이해 완료
  print (t1 + t2)


t1='daddy'
t2='mom'
add_tt(t1,t2)

daddymom

### ⚡ 기본 인자 (e.g., t2='Python'): 함수 호출 때 t2 위치에 실제 값을 전달하지 않아도 'Python'이 기본값으로 대입됨 
### ⚡ 키워드 인자: 함수 호출 때 괄호 안에 등호를 사용하여 표시할 때 이를 키워드 인자라고 한다. 예시 add_txt1(t1='My friend', t2='Python')

In [ ]:
# 위의 함수 정의 및 호출 이해 완료
def add_txt1(t1,t2='Python'): #add_txt1은 t1과 t2를 ':'로 연결한 뒤 출력하는 함수다.
  print(t1 + ':' + t2). # 연결 기호 + 실수 했음

add_txt1('Best') #add_txt1 함수를 호출하고 있음. 기본값 t2='Python'을 사용하며 호출
add_txt1(t1='My friend', t2='Python') #add_txt1 함수를 호출하고 있음. 인자 이름을 명시하며 (=키워드 인자를 사용하며) 호출
add_txt1(t1='My buddy')

Best:Python
My friend:Python
My buddy:Python

In [ ]:
def couples(t1, t2='Python'):
  print (t1 + ':' + t2)

couples('Best')
couples(t1='My friend')

Best:Python
My friend:Python

### ⚡ **<font color = 'red'> 가변 인자 (*args) </font>**는 인자의 개수가 명확치 않을 때 사용한다.
### ⚡ **<font color = 'blue'> 키워드 가변 인자 (*kwargs)</font>**는 차후 어떤 키워드 인자가 필요한지 미확정 되었을 때 사용한다.

In [ ]:
def func_uncertain(*args):
  print(args)

func_uncertain() #*args에 아무값도 전달 안하면서 함수를 호출하면 빈 튜플로 결과가 출력된다.  

def func_kwa(width, height, **kwargs):  #함수 정의 때 TWO asterisks 인 것을 주의하자. 또한 인자가 string 인데 ''를 동반 사용 X
  print(kwargs)                         #Q: 함수 정의 때 kwargs 의 결과를 보는 것이 목적이면, width, height 인자는 왜 등록해 놓은 것일까? Ask MK316 about it.

func_kwa(10, 20) #*kwargs에 아무값도 전달 안하면서 함수를 호출하면 빈 사전으로 결과가 출력된다. 그런데 여기에 두 숫자 인자를 꼭 써야 empty dictionary 형태의 결과 {} 가 나올까???
func_kwa(10, 20, depth=30, color='blue') #첫번째 두 인자 10과 20은 왜 Dictionary 결과에는 역할이 없나??

()
{}
{'depth': 30, 'color': 'blue'}

In [ ]:
#My excercise

def func_uncertain(*args):
  print(args)

func_uncertain()

def func_kwa(height, width, **kwargs):
  print (kwargs)

func_kwa(200, 3000)

func_kwa(1, 2, depth = 100, color = 'red')

()
{}
{'depth': 100, 'color': 'red'}

#To do: What are the code lines for? Think about it after taking a nap.

In [ ]:
def myfunction():
  print ('안녕하세요')

list = [1, 2, myfunction]
list[2]() #리스트에서 2 번째 요소가 myfunction 함수라서, myfunction 함수에 인자 자리 ( )를 넣는 것과 list[2]( )는 같은 code line으로 볼 수 있다.

안녕하세요

In [ ]:
#@markdown 🌀 리스트의 요소 중 하나가 function 함수인 경우

def myfunc():
  print('hi')

list1=[1,2,3,myfunc]
myfunc()
list1[3]()

hi
hi

In [ ]:
#My exercise

def listinlist():
  print('How are you?')

list = [1,2, listinlist]

list[2]()
listinlist()

How are you?
How are you?

# 아래 부터는 이해해 보려는 My exercise 🐶 🐹

In [ ]:
#개인 함수 연습1

def add_d(n1,n2):
  result = n1 + n2
  return result     #여기 실수했고

sample = add_d(10,100)  #여기 실수했고
print(sample)

110

In [ ]:
#개인 함수 연습2

def add_dd(n1, n2):
  print(n1 + n2)

n1=1000
n2=10000

add_dd(n1,n2) # print(add_dd(n1,n2))라고 잘못 썼음.

11000

In [ ]:
def add_ddd(n1,n2,n3):
  results = n1 + n2 + n3
  return results

sample2 = add_ddd(1000, 10000, 100000) #변수 지정해서 함수의 인자 자리에 직접 수를 입력하는지 헷갈림 => 아 맞네. 
print (sample2)

111000

In [ ]:
def add_dddd(n1,n2, n3, n4):
  print(n1 + n2 + n3 + n4)

n1 = 1000
n2 = 10000
n3 = 100000
n4 = 1000000

add_dddd(n1,n2,n3,n4)

1111000